@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  margin: 0;
  background-color: #000;
  overscroll-behavior-y: contain;
}

* {
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar { display: none; }

.snap-y-mandatory { scroll-snap-type: y mandatory; }
.snap-start { scroll-snap-align: start; }
